@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    height: 100vh;
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
}


.container{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 650px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
    padding: 20px;
}

.image_center{
    display: flex;
    justify-content: center;
    width: 360px;
    height: 360px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    
}

.image_center img{
    width: 100%;
    border-radius: 10px;
       
}

.imagem-sobreposta{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 360px;
    height: 360px;
    opacity: 0;
    border-radius: 10px;
    z-index: 2;
}

.imagem-sobreposta img{
    width: 60px;
    height: 60px;
}

.imagem-sobreposta:hover{
    opacity: 1;
    
}

.back_blue{
    background-color: hsl(178, 100%, 50%);
    position: absolute;
    width: 360px;
    height: 360px;
    opacity: 0;
    border-radius: 10px;

}

.back_blue:hover{
    opacity: 0.3;
}

.image_center:hover + .imagem-sobreposta{
    
      opacity: 1;
}


.infos{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.infos .infos_title{

    font-weight: 600;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    
}

.infos .infos_title:hover{
    color: hsl(178, 100%, 50%);
    
}

.infos .infos_p{
    font-size: 18px;
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    margin-top: 20px;
}

.eth{
    display: flex;
    align-items: center;
    margin-top: 20px;
    color: hsl(178, 100%, 50%);

}

.eth img,
.clock img{
    margin-right: 10px;
}

.clock{
    display: flex;
    align-items: center;
    margin-left: 120px;
    color: hsl(215, 51%, 70%);

    
}

.creator{
    display: flex;
    align-items: center;
    border-top: 0.1px solid hsl(215, 32%, 27%);
    margin-top: 20px;

}

.creator img{
    width: 40px;
    border: 1px hsl(0, 0%, 100%) solid;
    border-radius: 50px;
    margin-top: 20px;
}

.creator .creator_p{
    margin-top: 20px;
    margin-left: 20px;
    color: hsl(215, 51%, 70%);

}

.creator .creator_p .creator_sp{
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.creator .creator_p .creator_sp:hover{
    color: hsl(178, 100%, 50%);
}


.attribution { 
    color: hsl(0, 0%, 100%);
    font-size: 11px; 
    text-align: center; 
    margin-top: 20px;
}
.attribution a {
     color: hsl(178, 100%, 50%); 
}
